program: sweep.py
method: bayes
name: vizdoom-hyperparams-sweep
metric:
  goal: maximize
  name: test_score
parameters:
  batch_size:
    values: [16, 32, 64]
  lr:
    min: 0.0001
    max: 0.1
  discount_factor:
    min: 0.01
    max: 0.99
  memory_size:
    values: [5000, 10000, 20000]
  frame_repeat:
    values: [4, 8, 12, 16, 20]
  steps_per_epoch:
    values: [1000, 2000, 3000, 4000]
  epsilon_decay:
    min: 0.9900
    max: 0.9999
